<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/confirmar.css')}}">
    <title>Guia</title>
</head>
<body>
  <form action="/register" method="GET">
    <ul>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button>
        Confirmar
        <span></span><span></span><span></span><span></span>
      </button>
    </ul>
  </form>
</body>
</html>