<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/guia2.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="flex-container">
        <form class="form" action="/NewPassword" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="section">
                <input type="password" class="form_input" placeholder="Escriba su Nueva contraseña" name="password">
                <input type="password" class="form_input" placeholder="Confirme su contraseña" name="confipassword">
                <button class = "button">Cambiar</button>
            </div>
        </form>
        <div class="form_img">
            <div class="img-container">
                <div>
                    <img src="{{url_for('static', filename='img/uadeo.png')}}">
                </div> 
            </div> 
        </div>
    </div>
</body>
</html>